---
title: Implementation QuickStart - Self Managed
suppress_header: true
description: "Accelerate your GitLab setup with the Implementation QuickStart - Self Managed (HA) package, helping your organization quickly benefit from your GitLab purchase."
canonical_path: "/professional-services/skus/implementation-quick-start-ha/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Implementation QuickStart - Self Managed (HA)
.page-container.container
<iframe src="https://drive.google.com/file/d/1aHwGflf2EpVee4LN6rQTUn1mTiT0mAfU/preview" frameborder="2" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>