.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 
          This page has been deprecated. 
        Please see
        %a{href: "/services/education", target: "_blank"}
          GitLab Education Services
        for up-to-date information
