---
title: Health Check
suppress_header: true
description: "Deploy and Configure a GitLab instance on GitLab.com"
canonical_path: "/professional-services/skus/implementation-quick-start-com/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Implementation QuickStart - GitLab.com
.page-container.container
<iframe src="https://drive.google.com/file/d/1QAYfpyP7LoC3Xnz-a_jx2u5SwqOPr107/preview" frameborder="2" width="1536" height="893" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" ></iframe>